<div class="container">
  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <span class="has-text-weight-bold has-text-white is-size-4">CodeCrush</span>
      </a>

      <div class="navbar-burger burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">Problems</a>
        <a class="navbar-item">Tournaments</a>
        <a class="navbar-item">Resources</a>
      </div>
    </div>
  </nav>
</div>
