<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="title is-1">CodeCrush</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-2"></div>
        <div class="column is-centered">
          <a class="practice button is-large">
            <i class="fa fa-keyboard-o"></i>
            <p>Practice</p>
          </a>
        </div>
        <div class="column">
          <a class="compete button is-large">
            <i class="fa fa-trophy"></i>
            <p>Compete</p>
          </a>
        </div>
        <div class="column">
          <a class="learn button is-large">
            <i class="fa fa-graduation-cap"></i>
            <p>Learn</p>
          </a>
        </div>
        <div class="column is-2"></div>
      </div>
    </div>
  </div>
</section>
